.birdBox {
    background-color: #e2efff;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

.birdattributes {
    padding: 25px;
    background-color: #ededed;
    border-radius: 10px;
}

.dnaDiv {
    position: absolute;
    left:20px;
    bottom: 5px;

}
