/* Fonts */
@font-face {
    font-family: "Poppins";
    src: url("/client/assets/fonts/Poppins-Light.ttf");
}

/* HTML Elements */
body {

    font-family: Poppins;
    font-weight: 500;
    letter-spacing: 1px; 
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab );
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
    }

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

footer {
    background: whitesmoke;
    border-radius: 5px;
    height: 30px;
    padding: 2vh;
    padding-bottom: 40px;
    position: relative;
}

h1 {
    color: rgb(48, 46, 46);
}

html {
    box-sizing: border-box;
    color: rgb(48, 46, 46);overflow-y: scroll;
}

p {
    color: rgb(48, 46, 46);
}

/* Classes */
.birdAttributes {
    background-color: #ededed;
    border-radius: 10px;
    left: 2.5em;
    padding: 25px;
}

.birdBox {
    background-color: #f8f9fa;
    border-radius: 10px;
    left: 0.6em;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    z-index: 20;
}

.bottomList {
    margin-left: -2.5em;
}

.buyBox {
    background-color: #f8f9fa;
    border-radius: 10px;
    height: 34em;
    min-width: 20.7em;
    max-width: 20.7em;
    z-index: 20;
    display: inline-flex;
}

.buyButton {
    border-radius: 5px;
    margin-left: 7em;
}

.card-deck{
    background: transparent;
    left: -8%;
    position: relative;
    top: -15em;
    width: 120%;
    z-index: 1;
}

.card-img-top {
    height: 200px;
}

.card-text {
    color: black;
}

.cancelButton {
    border-radius: 5px;
    margin-left: 5em;
}

.catalogBox {
    background-color: #f8f9fa;
    border-radius: 10px;
    height: 31em;
    min-width: 21em;
    max-width: 21em;
    padding-right: 30px;
    z-index: 20;
}

.dnaDiv {
    bottom: 5px;
    font-size: 18px;
    left:20px;
    position: absolute;
}

.navbar {
    border-radius: 5px;
}

.offerBox {
    background-color: #f8f9fa;
    border-radius: 10px;
    height: 34em;
    min-width: 20.7em;
    max-width: 20.7em;
    z-index: 20;
    display: inline-flex;
}

.row {
    margin-left: -0.4em;
}

.submitButton {
    margin-right: 1em;
}

/* IDs */
#backgroundPicture {
    opacity: 80%;
    position: relative;
    width: 100%;
    z-index: -10;
}

#breedButton {
    position: relative;
    left: 27.5em;
    top: -22em;
}

#breedFooter {
    position: absolute;
    top: 44em;
    width: 1044px;
}

#cardButton {
    left: 2em;
    position: relative;
}

#cardTitle {
    text-align: center;
}

#createButton {
    left: 36em;
    border-radius: 5px;
}

#dadData {
    float: right;
    margin-right: 1em;
}

#dameButton {
    left: 38em;
    position: absolute;
    top: 40em;
}

#dameDisplay {
    left: 31em;
    opacity: 90%;
    position: absolute;
    top: 12em;
    width: 30em;
}

#defaultButton {
    border-radius: 5px;
    left: 4.6em;
}

#genData {
    float: right;
    margin-right: 1em;
}

#logo {
    border-radius: 40%;
}

#idData {
    float: left;
}

#mumData {
    float: left;
}

#offerAmount {
    position: relative;
    width: min-content;
}

#randomizeButton {
    border-radius: 5px;
    left: 0.8em;
}

#sireButton {
    left: 75em;
    position: absolute;
    top: 40em;
}

#sireDisplay {
    left: 39em;
    opacity: 90%;
    position: relative;
    top: -5em;
    width: 30em;
}

#topCard {
    background: transparent;
    display: inline-block;
    left: 35%;
    position: relative;
    z-index: 1;
}