@font-face {
    font-family: "Poppins";
    src: url("/client/assets/fonts/Poppins-Light.ttf");
}

/* HTML Elements */
body {
	background: lightblue;
    font-family: Poppins;
    font-weight: 500;
    letter-spacing: 1px; 
}

footer {
    background: whitesmoke;
    border-radius: 5px;
    height: 30px;
    padding: 2vh;
    padding-bottom: 40px;
    position: relative;
}

h1 {
    color: rgb(48, 46, 46);
}

html {
    box-sizing: border-box;
    color: rgb(48, 46, 46);overflow-y: scroll;
}

p {
    color: rgb(48, 46, 46);
}

/* Classes */
.birdAttributes {
    background-color: #ededed;
    border-radius: 10px;
    left: 2.5em;
    padding: 25px;
}

.birdBox {
    background-color: #e2efff;
    border-radius: 10px;
    left: 0.6em;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    z-index: 20;
}

.card-deck{
    background: transparent;
    left: -8%;
    position: relative;
    top: -15em;
    width: 120%;
    z-index: 1;
}

.catalogBox {
    background-color: #e2efff;
    border-radius: 10px;
    height: 30em;
    min-width: 21em;
    padding-right: 30px;
    z-index: 20;
}

.card-img-top {
    height: 200px;
}

.card-text {
    color: black;
}

.dnaDiv {
    bottom: 5px;
    font-size: 18px;
    left:20px;
    position: absolute;
}

.navbar {
    border-radius: 5px;
}

/* IDs */
#backgroundPicture {
    opacity: 80%;
    position: relative;
    width: 100%;
    z-index: -10;
}

#blockchainButton {
    left: 26.1em;
}

#breedButton {
    left: 55em;
    position: absolute;
    top: 40em;
}

#breedFooter {
    position: absolute;
    width: 1044px;
    top: 45em;
}

#cardButton {
    left: 2em;
    position: relative;
}

#cardTitle {
    text-align: center;
}

#dameButton {
    left: 38em;
    position: absolute;
    top: 40em;
}

#dameDisplay {
    left: 31em;
    opacity: 90%;
    position: absolute;
    top: 12em;
    width: 30em;
}

#defaultButton {
    left: 4.6em;
}

#logo {
    border-radius: 40%;
}

#randomizeButton {
    left: 0.8em;
}

#sireButton {
    left: 75em;
    position: absolute;
    top: 40em;
}

#sireDisplay {
    left: 39em;
    opacity: 90%;
    position: relative;
    top: -5em;
    width: 30em;
}

#topCard {
    background: transparent;
    display: inline-block;
    left: 35%;
    position: relative;
    z-index: 1;
}