/* Fonts */
@font-face {
    font-family: "Poppins";
    src: url("/client/assets/fonts/Poppins-Light.ttf");
}

/* HTML Elements */
body {
    font-family: Poppins;
    font-weight: 500;
    letter-spacing: 1px; 
    background: url(/client/assets/media/nature.webp);
    background-size: cover;
    }

footer {
    background: whitesmoke;
    border-radius: 5px;
    height: 30px;
    padding: 2vh;
    padding-bottom: 40px;
    width: auto;
}

h1 {
    color: #f8f9fa;
}

html {
    box-sizing: border-box;
    color: rgb(48, 46, 46);overflow-y: scroll;
}

p {
    color: #f8f9fa;
    height: 0.8em;
}

/* Classes */
.birdAttributes {
    background-color: #ededed;
    border-radius: 10px;
    left: 2.5em;
    padding: 25px;
}

.birdBox {
    background-color: #f8f9fa;
    border-radius: 10px;
    left: 0.6em;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    z-index: 20;
}

.bottomList {
    margin-left: -2.5em;
}

.buyBox {
    background-color: #f8f9fa;
    border-radius: 10px;
    height: 34em;
    min-width: 20.7em;
    max-width: 20.7em;
    z-index: 20;
    display: inline-flex;
}

.buyButton {
    border-radius: 5px;
    margin-left: 7em;
}

.card-special {
    background-color: seagreen;
    height: 10em;
}

.card-deck{
    background: transparent;
    border-width: 5px;
    position: relative;
    top: 0em;
    z-index: 1;
}

.card-img-top {
    height: 200px;
}

.card-text {
    color: black;
    font-weight: bold;
    text-align: center;
}

.card-title {
    font-weight: bold;
    text-align: center;
}

.cancelButton {
    border-radius: 5px;
    margin-left: 5em;
}

.catalogBox {
    background-color: #f8f9fa;
    border-radius: 10px;
    height: 31em;
    min-width: 21em;
    max-width: 21em;
    padding-right: 30px;
    z-index: 20;
}

.dnaDiv {
    bottom: 5px;
    font-size: 18px;
    left:20px;
    position: absolute;
}

.evolvingHeart {
    left: -20em;
    position: relative;
    top: -20em;
}


.navbar {
    border-radius: 5px;
    color: black;
    font-weight: bold;
}

.offerBox {
    background-color: #f8f9fa;
    border-radius: 10px;
    height: 34em;
    min-width: 20.7em;
    max-width: 20.7em;
    z-index: 20;
    display: inline-flex;
}

.row {
    margin-left: -0.4em;
}

.submitButton {
    margin-right: 1em;
}

.topCard {
    background: seagreen;
    border-width: 5px;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

/* IDs */
#backgroundPicture {
    opacity: 80%;
    position: relative;
    width: 100%;
    z-index: -10;
}

#breedButton {
    position: relative;
    left: 10em;
    top: -50em;
}

#breedFooter {
    position: relative;
    top: -33em;
}

#cardButton {
    left: 2em;
    position: relative;
}

#cardTitle {
    color: #343a40;
    text-align: center;
}

#createButton {
    left: 36em;
    border-radius: 5px;
}

#dadData {
    float: right;
    margin-right: 1em;
}

#dameButton {
    left: 10em;
    position: relative;
    top: -34em;
}

#swapButton {
    left: 26.4em;
    position: relative;
    top: -49em;
}

#dameDisplay {
    left: 3em;
    opacity: 90%;
    position: relative;
    top: -3em;
    width: 30em;
}

#childDisplay {
    left: 49em;
    opacity: 90%;
    position: absolute;
    top: 21.7em;
    width: 30em;
    z-index: 50;
}

#sireButton {
    left: 37.5em;
    position: relative;
    top: -34em;
}

#sireDisplay {
    left: 39.5em;
    opacity: 90%;
    position: relative;
    top: -34.5em;
    width: 30em;
}

#dameBox {
    background-color: #e277d4;
    border-radius: 10px;
    height: 31em;
    min-width: 21em;
    max-width: 21em;
    padding-right: 30px;
    z-index: 20;
}

#sireBox {
    background-color: #0d66be;
    border-radius: 10px;
    height: 31em;
    min-width: 21em;
    max-width: 21em;
    padding-right: 30px;
    z-index: 20;
}

#childBox {
    background-color: #f8f9fa;
    border-radius: 10px;
    height: 31em;
    min-width: 21em;
    max-width: 21em;
    padding-right: 30px;
    z-index: 20;
}




#defaultButton {
    border-radius: 5px;
    left: 4.6em;
}

#genData {
    float: right;
    margin-right: 1em;
}

#logo {
    border-radius: 40%;
}

#idData {
    float: left;
}

#mumData {
    float: left;
}

#offerAmount {
    position: relative;
    width: min-content;
}

#randomizeButton {
    border-radius: 5px;
    left: 0.8em;
}