html {
    box-sizing: border-box;
    overflow-y: scroll;
}

body {
	background: teal;
}

h1 {
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

p {
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#logo {
    border-radius: 40%;
}

#background {
    width: 100%;
    opacity: 50%;
    z-index: -10;
}

.card-title {
    text-align: center;
}

#card-button {
    position: relative;
    left: 2em;
}

#topCard {
    background: transparent;
    z-index: 1;
    position: absolute;
    left: 40%;
    top: 30%;
}

.card-deck{
    background: transparent;
    z-index: 1;
    position: relative;
    top: -15em;
    left: -8%;
    width: 120%;
}

.card-img-top {
    height: 200px;
}

.dnaDiv {
	font-size: 18px;
}

.video-container { 
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    transition: 1s opacity;
}

.birdBox {
    background-color: #e2efff;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

.birdattributes {
    padding: 25px;
    background-color: #ededed;
    border-radius: 10px;
}

.dnaDiv {
    position: absolute;
    left:20px;
    bottom: 5px;
}

footer {
    height: 5%;
    background-color: whitesmoke;
}