#head{
    background-color: rgb(122, 122, 117);
    width: 200px;
    height: 200px;
    left: 100px;
    border-radius: 50%;
    position: relative;
    background-image: linear-gradient(to bottom right, rgb(114, 108, 29) , rgb(31, 31, 61), rgb(114, 108, 29));
    background-size: auto 30px;
}

.eyes{
    position: relative;
    top: 30px;
    left: 10px;
    display: flex;
}

.eye{
    background-color: rgb(114, 160, 103);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 25px;
    position: relative;
}

.pupils{
    background-color: rgb(58, 29, 29);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transform: rotate(-45deg);
    margin: 5px;
    position: absolute;
    top: 3px;
    left: 3px;
}

.ears{
    position: absolute;
    display: flex;
}

.ear{
    border-radius: 90% 0 90% 0;
    background-color: rgb(122, 122, 117);
    height: 100px;
    width: 100px;
    position: absolute;
    background-image: linear-gradient(to bottom right, rgb(114, 108, 29) , rgb(31, 31, 61), rgb(114, 108, 29));
    background-size: auto 30px;
    z-index: -1;
}

.left_ear{
    transform: scale(1,-1);
}

.right_ear{
    left: 100px;
}

.inner_left_ear{
    background-image: linear-gradient(to bottom right,pink , pink);
    background-size: auto 30px;
    transform: scale(0.3);
    border-radius: 90% 90% 90% 0;
    top: 20px;
    left: -20px;
}

.inner_right_ear{
    background-image: linear-gradient(to bottom right,pink , pink);
    transform: scale(0.3);
    border-radius: 90% 0 90% 90%;
    top: -20px;
    left: 20px;
}

.nose{
    position: absolute;
    left: 90px;
    top: 100px;
    transform: scale(3.5,2.5);
    font-weight: bold;
    color: pink;
}

.mouth{
    position: absolute;
    left: 90px;
    top: 145px;
    transform: rotate(180deg) scale(9,5);
    color: rgb(0, 0, 0);
}

.whisker_1_r{
    position: absolute;
    left: 170px;
    top: 90px;
    transform: scale(2);
    transform: rotate(90deg) scale(0.8,10) skewX(65deg);
    color: whitesmoke;
}

.whisker_2_r{
    position: absolute;
    left: 185px;
    top: 100px;
    transform: scale(2);
    transform: rotate(90deg) scale(0.8,10) skewX(50deg);
    color: whitesmoke;
}

.whisker_3_r{
    position: absolute;
    left: 190px;
    top: 110px;
    transform: scale(2);
    transform: rotate(90deg) scale(0.8,10) skewX(35deg);
    color: whitesmoke;
}

.whisker_1_l{
    position: absolute;
    left: 10px;
    top: 90px;
    transform: scale(2);
    transform: rotate(-90deg) scale(0.8,10) skewX(-65deg);
    color: whitesmoke;
}

.whisker_2_l{
    position: absolute;
    top: 100px;
    transform: scale(2);
    transform: rotate(-90deg) scale(0.8,10) skewX(-50deg);
    color: whitesmoke;
}

.whisker_3_l{
    position: absolute;
    left: -20px;
    top: 110px;
    transform: scale(2);
    transform: rotate(-90deg) scale(0.8,10) skewX(-35deg);
    color: whitesmoke;
}

#body{
    position: relative;
    width: 350px;
    height: 500px;
    left: 10px;
    top: -5px;
    border-radius: 40% 40% 20% 90%;
    background-image: linear-gradient(to bottom right, rgb(114, 108, 29) , rgb(31, 31, 61), rgb(114, 108, 29));
    background-size: auto 30px;
}

.front_right{
    top: 100px;
    left: 30px;
    position: absolute;
    width: 60px;
    height: 400px;
    border-radius: 20% 30% 10% 90%;
    transform: rotate(-10deg);
    background-image: linear-gradient(to bottom right, rgb(114, 108, 29) , rgb(31, 31, 61), rgb(114, 108, 29));
    background-size: auto 30px;
}

.front_left{
    top: 150px;
    left: 120px;
    position: absolute;
    width: 60px;
    height: 370px;
    border-radius: 20% 30% 10% 90%;
    transform: rotate(10deg);
    background-image: linear-gradient(to bottom right, rgb(114, 108, 29) , rgb(31, 31, 61), rgb(114, 108, 29));
    background-size: auto 30px;
}

.back_right{
    top: 420px;
    left: 120px;
    position: absolute;
    width: 60px;
    height: 100px;
    border-radius: 20% 30% 10% 90%;
    transform: rotate(80deg);
    background-image: linear-gradient(to bottom right, rgb(114, 108, 29) , rgb(31, 31, 61), rgb(114, 108, 29));
    background-size: auto 30px;
}

.back_left{
    top: 380px;
    left: 220px;
    position: absolute;
    width: 60px;
    height: 200px;
    border-radius: 20% 30% 10% 90%;
    transform: rotate(80deg);
    background-image: linear-gradient(to bottom right, rgb(114, 108, 29) , rgb(31, 31, 61), rgb(114, 108, 29));
    background-size: auto 30px;
}

#tail{
    top: 320px;
    left: 420px;
    position: absolute;
    width: 45px;
    height: 400px;
    border-radius: 90% 90% 90% 90%;
    transform: rotate(210deg);
    background-image: linear-gradient(to bottom right, rgb(114, 108, 29) , rgb(31, 31, 61), rgb(114, 108, 29));
    background-size: auto 30px;
}