

body {
	font-size: 10px;
}

.container {
	position:relative;
	left:10em;
	top: 10em;
}	

.bird-body {
	position:absolute;
	height: 40em;
	width: 45em;
	border-radius: 100% / 120% 100% 95% 85%;
	-moz-border-radius: 100% / 120% 100% 95% 85%;
	-webkit-border-radius: 100% / 120% 100% 95% 85%;
	border: 0.8em solid black;
}

.bird-body-inner {
	position:relative;
	height: 40em;
	width: 45em;
	background: #DD0042;
	border-radius: 100% / 120% 100% 95% 85%;
	-moz-border-radius: 100% / 120% 100% 95% 85%;
	-webkit-border-radius: 100% / 120% 100% 95% 85%;
	z-index: 3
}

.tail {
	position: absolute;
	z-index: -1;
	height: 0;
	width: 0;
	border-style: solid;
	border-color: transparent transparent transparent black;
}

.top {
	left: -5em;
	top: 16.5em;
	border-width: 2em 0em 2em 10em;

	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
}

.middle {
	left: -8em;
	top: 18em;
	border-width: 3em 0em 2em 15em;
	
	transform:rotate(12deg);
	-webkit-transform:rotate(12deg);
}

.bottom {
	left: -4em;
	top: 21.2em;
	border-width: 2em 0em 1em 7em;
	
	transform:rotate(-35deg);
	-webkit-transform:rotate(-35deg);
}

.feather-top {
	position: absolute;
	left: 16em;
	top: -6em;
	width: 17em;
	height: 6em;
	background: #DD0042;
	border: 0.6em solid black;
	border-right:0;
	border-radius: 100% 100% 100% 100% / 80% 100% 80% 100% ;

	transform:rotate(40deg);
	-webkit-transform:rotate(40deg);
	z-index: 2;
}

.feather-bottom {
	position: absolute;
	left: 8em;
	top: -4em;
	width: 15em;
	height: 5em;
	background: #DD0042;
	border: 0.6em solid black;
	border-right: 0;
	border-radius: 100% 100% 100% 100% / 80% 90% 50% 100% ;

	transform:rotate(10deg);
	-webkit-transform:rotate(10deg);
	z-index: 1;
}

.belly {
	position: absolute;
	left: 9em;
	top: 28.8em;
	border: #E5E8D5 1px solid;
	height: 0;
	width: 0;
	border-radius: 100% 100% 100% 100% / 120% 120% 80% 80%;
	border-bottom-width: 0;
	border-left-width: 14em;
	border-right-width: 14em;
	border-top-width: 12em;
	z-index: 4
}

.face {
	position: relative;
}

.eye-highlight {
	position: relative;
	height: 10em;
	width: 10em;
	background: white;
	border-radius: 100%;
	z-index: 6
}

.eye {
	position: absolute;
	height: 10.7em;
	width: 10.7em;
	background: #dddddd;
	border-radius: 100%;
	border: 0.5em black solid;
	z-index: 5
}

.eyeball {
	position: relative;
	height: 3em;
	width: 3em;
	background: black;
	border-radius: 100%;
}

.eye-right {
	top: 16em;
	left: 31em;
}

.eye-left {
	top: 16em;
	left: 20em;
}

.eye-left .eye-highlight {
	position: relative;
	left: 0.5em;
}

.eye-right .eyeball {
	left: 2em;
	top: 4em;
}

.eye-left .eyeball {
	left: 6em;
	top: 4em;
}

.eyebrow
{
	position:absolute;
	width: 14em;
	height: 3em;
	background: black;
	z-index: 7;
}

.eye-right .eyebrow {
	transform:rotate(-11deg);
	-webkit-transform:rotate(-11deg);
	top: -1em;
	left: -1em;
}

.eye-left .eyebrow {
	transform:rotate(11deg);
	-webkit-transform:rotate(11deg);
	-moz-transform:rotate(11deg);
	top: -1em;
	left: -3em;
}

.beak{
	top: 26em;
	left: 32em;
	width:  5em;
	height: 5em;
	position: relative;
	background: orange;
	border-top-right-radius: 40%;
	border-bottom-left-radius: 200%;
	border-top-left-radius: 10%;
	border: 0.2em solid black;
	z-index: 10;
}

.beak-lower {
	content:'';
	top: 20em;
	left: 31em;
	width:  6em;
	height: 7em;
	position: relative;
	background: orange;
	border-top-right-radius: 30%;
	border-bottom-left-radius: 200%;
	border-top-left-radius: 10%;
	border: 0.2em solid black;
	z-index: 9;
}

.beak {
	transform: rotate(-70deg) skewX(0deg) skewY(20deg) scale(1.5, 2.7) ;
	-webkit-transform: rotate(-70deg) skewX(0deg) skewY(20deg) scale(1.5, 2.7) ;
	-moz-transform: rotate(-70deg) skewX(0deg) skewY(20deg) scale(1.5, 2.7) ;
}

.beak-lower {
	transform: rotate(120deg) skewX(0deg) skewY(20deg) scale(1.5, 1.5) ;
	-webkit-transform: rotate(120deg) skewX(0deg) skewY(20deg) scale(1.5, 1.5) ;
	-moz-transform: rotate(120deg) skewX(0deg) skewY(20deg) scale(1.5, 1.5) ;
	
}